.navbar-brand img {
    width: 100px;
    height: auto;
}

.navbar-collapse {
    margin-right: 600px;
}

.navbar-collapse .nav-item {
    margin-left: 30px;
    font-size: 18px;
}

.navbar-collapse .nav-item .nav-link:hover {
    color: cornflowerblue;
}

.navbar-collapse .nav-item .nav-link {
    color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link.sign,
.navbar-light .navbar-nav .show>.nav-link {
    color: #0d6efd;
}

.tab-content {
    box-shadow: 0px 1px 3px#ccc;
    margin: auto;
    width: 380px;
    height: auto;
    padding: 20px;
    margin-bottom: 100px;
}

.tab-content a {
    text-decoration: none;
}

.nav-pills {
    margin: auto;
    width: 380px;
    height: auto;
    padding: 20px;
}

.nav-pills a:hover {
    transform: translate(2px, 2px);
}

.fa-facebook-f:hover {
    color: cornflowerblue;
}

.fa-twitter:hover {
    color: cornflowerblue;
}

.fa-google:hover {
    color: cornflowerblue;
}

.fa-instagram:hover {
    color: cornflowerblue;
}

.fa-linkedin:hover {
    color: cornflowerblue;
}

.fa-github:hover {
    color: cornflowerblue;
}

footer a {
    text-decoration: none;
}

footer h6 {
    color: rgb(62, 62, 62);
}

footer {
    box-shadow: 0px 1px 3px#ccc;
}

section {
    margin-bottom: 250px;
}